
.gallery__item_box {
  align-content: center;
  background-color: azure;
  border: 0.5rem;
  border-radius: 1%;
  box-shadow: 0 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 5rem;
  }


.gallery__item_box_gallery {
    padding: 2rem;
  }

.gallery__item_box img {
  border-radius: 2%;
  margin: 5px;
}

.gallery__item_box_capped img {
  border-radius: 2%;
  margin: 5px;
  max-height:400px;
}


.gallery__item_box p {
  margin-top: 5px;
}


.gallery__item_box a {
  color: grey;
  font-size: 0.8rem;
  text-decoration: none;
}
.gallery__item_box a:hover {
  text-decoration: underline;
}


.gallery__item_box_hover:hover {
  background-color: white;
  box-shadow: 0 5px 20px 2px;
  cursor:pointer;
  transform: scale(1.05);
}