.gallery {
  display: grid;
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(50px, auto);
  justify-content: center;
  padding: 2rem;
  }


  @media (max-width: 800px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  @media (max-width: 600px) {
    .gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  