:root {
    --bg-color: #41B0F6;
    --shadow-color: rgba(244, 244, 244, 0.304);
    --darkmode-bg: #22252A;
  }

.App {
    background-color: var(--bg-color);
    background-image: linear-gradient(0deg, var(--bg-color) 0%, #9ffff4 100%);
}

.flexcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

.filler {
    height: 100vh;
}

.box {
    align-items: start;
    width: 80%;
    height: fit-content;
    background-color: white;
    border-radius: 1%;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 0px 5px 1rem 0.1rem var(--shadow-color);
}

.fullwidth {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flexcolumn {
    flex-direction: column;
}

.content {
    margin-top: 5rem;
    padding-top: 5rem;
}

.darkmode {
    background-color: var(--darkmode-bg);
    background-image: linear-gradient(0deg, var(--darkmode-bg) 100%, #272727 0%);
    color: white;
}

.darkmode p, h1, label {
    color: black;
}
